<h1>Listing race_winners</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Race number</th>
      <th>Winner</th>
      <th>Payout</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @race_winners.each do |race_winner| %>
      <tr>
        <td><%= race_winner.date %></td>
        <td><%= race_winner.race_number %></td>
        <td><%= race_winner.winner %></td>
        <td><%= race_winner.payout %></td>
        <td><%= link_to 'Show', race_winner %></td>
        <td><%= link_to 'Edit', edit_race_winner_path(race_winner) %></td>
        <td><%= link_to 'Destroy', race_winner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race winner', new_race_winner_path %>
