<% provide(:title, 'Javier Castellano') %>

<h1>Javier Castellano</h1>
<%= render "race_stats" %>

<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Race</th>
      <th>Jockey</th>
      <th>Payout</th>
      <th>Wagers</th>
      <th>Win/Loss</th>
    </tr>
  </thead>

  <tbody>
    <% @javier_castellano_entries.each do |javier_castellano_entry| %>
      <tr>
        <td><%= javier_castellano_entry.date %></td>
        <td><%= javier_castellano_entry.race %></td>
        <td><%= javier_castellano_entry.jockey %></td>
        <% if javier_castellano_entry.jockey == javier_castellano_entry.race_winner.winner %>
        <td><%= javier_castellano_entry.race_winner.payout %></td>
        <% else %>
        <td></td>
        <% end %>
        <td class="col-xs-2"><input type="text" class="form-control wager"></td>
        <td class="col-xs-2"><input type="text" class="form-control win-loss"></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>