<% provide(:title, 'Joel Rosario') %>

<h1>Joel Rosario</h1>
<%= render "race_stats" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Race</th>
      <th>Jockey</th>
      <th>Payout</th>
      <th>Wagers</th>
      <th>Win/Loss</th>
    </tr>
  </thead>

  <tbody>
    <% @joel_rosario_entries.each do |joel_rosario_entry| %>
      <tr>
        <td><%= joel_rosario_entry.date %></td>
        <td><%= joel_rosario_entry.race %></td>
        <td><%= joel_rosario_entry.jockey %></td>
        <% if joel_rosario_entry.jockey == joel_rosario_entry.race_winner.winner %>
        <td><%= joel_rosario_entry.race_winner.payout %></td>
        <% else %>
        <td></td>
        <% end %>
        <td class="col-xs-2"><input type="text" class="form-control wager"></td>
        <td class="col-xs-2"><input type="text" class="form-control win-loss"></td>
      </tr>
    <% end %>
  </tbody>
</table>