<% provide(:title, 'Lanfranco Dettori') %>

<h1>Lanfranco Dettori</h1>
<%= render "race_stats" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Race</th>
      <th>Jockey</th>
      <th>Payout</th>
    </tr>
  </thead>

  <tbody>
    <% @lanfranco_dettori_entries.each do |lanfranco_dettori_entry| %>
      <tr>
        <td><%= lanfranco_dettori_entry.date %></td>
        <td><%= lanfranco_dettori_entry.race %></td>
        <td><%= lanfranco_dettori_entry.jockey %></td>
        <% if lanfranco_dettori_entry.jockey == lanfranco_dettori_entry.race_winner.winner %>
        <td><%= lanfranco_dettori_entry.race_winner.payout %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><input type="text" class="form-control wager"></td>
        <td><input type="text" class="form-control win-loss"></td>
      </tr>
    <% end %>
  </tbody>
</table>